<header class="header" *ngIf="currentUserId">
    <div class="container header__container">
        <div class="header__title">
            Test iConText
        </div>
        <div class="header__message" *ngIf="message">
            {{message}}
        </div>
        <div class="header__info">
            <div class="header__user" *ngIf="currentUserId && currentUser" routerLink="/editprofile">
                <div class="header__img">
                    <img src="./../../assets/imgs/user-id-svgrepo-com.svg" alt="logout__img">
                </div>
                <div class="header__user__text">
                    Current user: {{currentUser.firstName}} {{currentUser.lastName}}
                </div>
            </div>
            <div class="header__logout" (click)="logout()">
                <div class="header__logout__text">
                    Logout
                </div>
                <div class="header__img">
                    <img src="./../../assets/imgs/logout-svgrepo-com.svg" alt="logout__img">
                </div>
            </div>
        </div>
    </div>
</header>
