<div class="navigation container" *ngIf="showNavigation">
    <ul class="navigation__list">
        <li [class.selected]="isSelected('home')" (click)="selectPage('home')" class="navigation__list__item">Home</li>
        <li [class.selected]="isSelected('inventory')" (click)="selectPage('inventory')" class="navigation__list__item">Inventory</li>
        <li [class.selected]="isSelected('reports')" (click)="selectPage('reports')" class="navigation__list__item">Reports</li>
        <li [class.selected]="isSelected('billing')" (click)="selectPage('billing')" class="navigation__list__item">Billing</li>
        <li [class.selected]="isSelected('profile')" (click)="selectPage('profile')" class="navigation__list__item">Profile</li>
    </ul>
</div>
